        <div id="addArticleForm" ng-show="underEdit">
          <form ng-click="validate()">
            <span><h2>Add an article:</h2><button class="btn btn-small fa fa-times" ng-click="underEdit=false"></button></span>
            <input placeholder="Article Title" name="titel" type="text" ng-model="title" />
            <textarea placeholder="Content of the article" name="content" ng-model="content"></textarea>
            <button type="submit" class="btn btn-default" ng-click="addArticle()">Add article</button>
          </form>
        </div>