<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">Rethought</a>
  </div>
  <nav class="collapse navbar-collapse bs-navbar-collapse">
    <ul class="nav navbar-nav">
      <li ui-view="navigation.article"></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="navbar-brand">About</a>
      </li>
      <li>
        <login></login>
      </li>
    </ul>
  </nav>
</header>